<section>
    <h1>TeamStorm Metrics</h1>
    <p>Приложение полностью переведено на ASP.NET Core MVC. Клиент вызывает C# API-контроллеры.</p>
    <button id="loadBtn">Загрузить рабочие пространства</button>
    <pre id="output">Нажмите кнопку для запроса /api/workspaces</pre>
</section>
